html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div {
    border: 2px solid #999;
}

.main {
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

#calculator {
    border-radius: 12px;
    padding: 14px;
    align-content: center;
    outline: none;
    color: #fff;
    background-color: grey;
    border-radius: 15px;
    border: none;
    box-shadow: 0 9px #999;
    width: 23.7em;
}

#calculator > * ,
#buttons > *{
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0px;
    border-radius: 12px;
}

#screen {
    min-height: 7em;
    flex: 1;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 14px;
    border-bottom: 1px solid #999;
    border-top: 4px solid #999;
    background-color: rgb(194, 242, 253);
    font-size: large;
    inline-size: auto;
    flex-grow: 0;
}

.Display {
    display: block;
    border: none;
    outline: none;
    padding: 10px;
    align-items: center;
    justify-content: flex-end;
    color: black;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
}

.current.Display {
    box-sizing: border-box;
    min-height: 68.8px;
    font-size: 2em;
}

.past.Display {
    min-height: 48.8px;
    box-sizing: border-box;
}

#clearBtn {
    width: 12.6em;
    box-sizing: border-box;
    grid-column: span 2;
}

#equalsBtn {
    width: 12.6em;
    box-sizing: border-box;
    grid-column: span 2;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    border: none;
}

button {
    cursor: pointer;
    font-weight: bold;
    height: 4em;
    width: 6em;
    padding: 0;
    margin: 0 auto;
    font-size: .9em;
    outline: none;
    color: black;
    background-color: antiquewhite;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px #999;
}

button:hover {
    background-color: rgb(249, 225, 193);
}

button:active,
.active {
    background-color: rgb(254, 217, 168);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

